etils==1.11.0
polars==1.21.0
executing==2.1.0
pexpect==4.9.0
absl-py==2.1.0
Pygments==2.19.1
pycodestyle==2.12.1
pandas==2.2.3
tomli==2.2.1
python-socketio==5.12.1
decorator==5.1.1
decorator==5.2.1
async-timeout==5.0.1
idna==3.10
traitlets==5.14.3
nest_asyncio==1.6.0
kiwisolver==1.4.8
pip==24.3.1
multidict==6.1.0
ptyprocess==0.7.0
pillow==11.1.0
pyzmq==26.2.1
simple-websocket==1.1.0
Navix==0.7.0
brax==0.10.3
typeguard==4.4.1
parso==0.8.4
importlib_metadata==8.6.1
uvicorn==0.34.0
zipp==3.21.0
nicegui==2.10.1
starlette==0.45.3
trimesh==4.6.0
msgpack==1.1.0
flake8==7.1.1
opt_einsum==3.4.0
setuptools==75.8.0
requests==2.32.3
frozenlist==1.5.0
pickleshare==0.7.5
tomlkit==0.13.2
pydantic==2.10.6
blinker==1.9.0
markdown-it-py==3.0.0
pytest==8.3.4
glfw==2.8.0
seaborn==0.13.2
mypy-extensions==1.0.0
Farama-Notifications==0.0.4
h11==0.14.0
vbuild==0.8.2
GitPython==3.1.44
jedi==0.19.2
distrax==0.1.5
itsdangerous==2.2.0
gast==0.6.0
fastapi==0.115.7
treescope==0.1.9
jupyter_client==8.6.3
iniconfig==2.0.0
rich==13.9.4
asttokens==3.0.0
urllib3==2.3.0
PyOpenGL==3.1.9
protobuf==5.29.3
chex==0.1.86
ml_collections==1.0.0
exceptiongroup==1.2.2
humanize==4.11.0
click==8.1.8
appnope==0.1.4
optax==0.2.2
numpy==1.26.4
docstring_parser==0.16
pylint==3.3.4
ifaddr==0.2.0
aiohttp==3.11.11
nicewebrl==0.0.3
setuptools-scm==8.1.0
propcache==0.2.1
stack_data==0.6.3
python-engineio==4.11.2
Jinja2==3.1.5
debugpy==1.8.13
craftax==1.4.5
pathspec==0.12.1
websockets==14.2
Werkzeug==3.1.3
psutil==6.1.1
psutil==7.0.0
gymnax==0.0.8
aiofiles==24.1.0
jupyter_core==5.7.2
rlax==0.1.6
python-dotenv==1.0.1
jaxmarl==0.0.7
gym-notices==0.0.8
tensorstore==0.1.71
bidict==0.23.1
fsspec==2024.12.0
anyio==4.8.0
gitdb==4.0.12
sniffio==1.3.1
Flask-Cors==5.0.0
grpcio==1.70.0
safetensors==0.5.2
matplotlib==3.10.0
pscript==0.7.7
mdurl==0.1.2
python-dateutil==2.9.0.post0
iso8601==2.1.0
pytz==2024.2
sentry-sdk==2.20.0
yarl==1.18.3
charset-normalizer==3.4.1
mccabe==0.7.0
wcwidth==0.2.13
packaging==24.2
jax==0.5.0
tzdata==2025.1
pytinyrenderer==0.0.14
flax==0.10.3
toolz==1.0.0
pypika-tortoise==0.5.0
pydantic_core==2.27.2
httpcore==1.0.7
tensorboardX==2.6.2.2
wandb==0.19.5
mujoco-mjx==3.1.3
cycler==0.12.1
astroid==3.3.8
wheel==0.45.1
mujoco==3.1.3
pluggy==1.5.0
flashbax==0.1.2
isort==6.0.0
python-multipart==0.0.20
comm==0.2.2
pygame==2.6.1
imageio==2.37.0
pure_eval==0.2.3
tornado==6.4.2
dm-tree==0.1.8
orbax-checkpoint==0.6.4
cloudpickle==3.1.1
shtab==1.7.1
pyparsing==3.2.1
fonttools==4.55.6
docker-pycreds==0.4.0
aiosqlite==0.20.0
tensorflow-probability==0.25.0
contourpy==1.3.1
orjson==3.10.15
httptools==0.6.4
Flask==3.1.0
jaxopt==0.8.3
aiosignal==1.3.2
typing_extensions==4.12.2
docutils==0.21.2
PyYAML==6.0.2
httpx==0.28.1
attrs==24.3.0
matplotlib-inline==0.1.7
smmap==5.0.2
watchfiles==1.0.4
ipdb==0.13.13
scipy==1.12.0
prompt_toolkit==3.0.50
ml_dtypes==0.5.1
gymnasium==1.0.0
uvloop==0.21.0
aiohappyeyeballs==2.4.4
platformdirs==4.3.6
ipykernel==6.29.5
jaxlib==0.5.0
ipython==8.33.0
markdown2==2.5.2
gym==0.26.2
setproctitle==1.3.4
annotated-types==0.7.0
certifi==2024.12.14
dm-env==1.6
wsproto==1.2.0
tortoise-orm==0.24.0
six==1.17.0
tyro==0.9.13
importlib_resources==6.5.2
black==25.1.0
pyflakes==3.2.0
dill==0.3.9
MarkupSafe==3.0.2
